<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Upload Data Model</title>
</head>
<body>
<div align="center">
    <h1>Upload Data Model</h1>
    <form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <label>Data Model: </label>
    	<input type="file" name="excel" />
        <button type="submit">Upload</button>    
    </form>
    <br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>No</th>
                <th>File Name</th>
                <th>Size</th>
                <th>Upload Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="file : ${listFile}">
                <td th:text="${file.id}">ID</td>
                <td th:text="${file.filename}">Item Name</td>
                <td th:text="${file.size}">Quantity</td>
                <td th:text="${file.uploadDate}">Amount</td>
                <td>
                    <a th:href="@{'/write/' + ${file.id}}">download</a>
<!--                     &nbsp;&nbsp;&nbsp; -->
<!--                     <a th:href="/@{'/delete/' + ${sale.id}}">Delete</a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>